<% 
  let posts=[]; 
  if (page.tag) {
    site.tags.forEach(function(item) {
      if(item.name === page.tag) {
        posts = item.posts.slice();
      }
    }); 
  } else if (page.category) {
    site.categories.forEach((item)=> {
      if(item.name === page.category) {
        posts = item.posts.slice();
      }
    });
  } else {
    posts = site.posts;
  }
  posts.data.sort((a, b) => {
    if (a.index && b.index) {
      return a.index > b.index ? 1 : -1
    }
    if (a.index) {
      return 1
    }
    if (b.index) {
      return -1
    }
    if (a.date && b.date) {
      return a.date > b.date ? 1 : -1
    }
    if (a.date) {
      return 1
    }
    if (b.date) {
      return -1
    }
    return 1
  })
%>

<ul class="archive-grid">
  <% posts.forEach((post) => { %>
  <li>
    <a href="<%- page_url(post.path) %>" aria-label="<%- post.title %>" style="background-image: linear-gradient(
                        rgba(0, 0, 0, 0.5),
                        rgba(0, 0, 0, 0.5)
                      ), url(<%- post.cover_image.startsWith('http') ? post.cover_image : post.path + post.cover_image %>)">
      <div>
        <h3><%- post.title %></h3>
        <% if (post.subtitle) { %>
        <p><%- post.subtitle %></p>
        <% } %>
      </div>
    </a>
  </li>
  <% }) %>
</ul>